*{
    background: black;
}

.btn{
    border: solid 2px red;
    align-items: center;
    align-content: center;
    color: red;
    background: pink;
    border-radius: 10px;
    font-size: 35px;
}

.tabla{
    width: 150px;
    margin: 0 auto;
}